@import 'styles/config';

.container {
    opacity: 0.5;
    transition: opacity 200ms;
    display: flex;
    background-color: $color-white;
    padding: $size-sm;
    box-shadow: 0 1px 4px rgba(41, 51, 57, 0.2);

    &.isVisible {
        opacity: 1;
    }
}

.left {
    flex-grow: 0;
    margin-right: $size-base;
}

.right {
    flex-grow: 1;
}

.headline {
    display: flex;
    align-items: flex-start;
}

.title {
    flex-grow: 1;
}

.bookmarkButton {
    flex-grow: 0;
}

.subline {
}
